@import './header.css';
@import './hero.css';
:root {
  --supreme: 'Supreme', sans-serif;
  --nunito: 'Nunito', sans-serif;
  --amulya: 'Amulya', sans-serif;
  --hind: 'Hind', sans-serif;

  --primary-color: #1E2A38;
  --accent-color: #e4edf8;
  --secondary-color: #4B5B6A;

  --dark-blue: #26364A;
  --light-blue: #3d5675;
  --lighten-blue: #6ea8f0;

  --black-200: #020202;
  --black-300: #333333;
  --black-400: #1f1e31;
  --black-500: #555555;
  --gray-100: #888888;

  --header-height: 3.5rem;

  /*========== Colors ==========*/

  --primary-color-light: #566273;
  --primary-color-lighten: #3A4755;
  --white-color: #fff;

  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*========== transitions ==========*/
  --ease-out-quad: cubic-bezier(0.25, 1, 0.5, 1);

  /*========== shadows ==========*/
  --subtle-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.05);
}
html {
  width: 100%;
  height: 10000px;
  overflow-x: hidden;
}

html::before {
  content: "";
  display: block;
  height: 1px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    min-height: 100vh;
    margin: 0 auto;
    background-color: var(--primary-color);
    font-family: var(--mukta);
    overflow-x: hidden;

}